
# User-specific stuff:
LibgdxRpg/.idea/**/workspace.xml
LibgdxRpg/.idea/**/tasks.xml
LibgdxRpg/.idea/dictionaries

# Sensitive or high-churn files:
LibgdxRpg/.idea/**/dataSources/
LibgdxRpg/.idea/**/dataSources.ids
LibgdxRpg/.idea/**/dataSources.local.xml
LibgdxRpg/.idea/**/sqlDataSources.xml
LibgdxRpg/.idea/**/dynamic.xml
LibgdxRpg/.idea/**/uiDesigner.xml

# Gradle:
LibgdxRpg/.idea/**/gradle.xml
LibgdxRpg/.idea/**/libraries

# CMake
LibgdxRpg/cmake-build-debug/
LibgdxRpg/cmake-build-release/

# Mongo Explorer plugin:
LibgdxRpg/.idea/**/mongoSettings.xml

## File-based project format:
LibgdxRpg/*.iws

## Plugin-specific files:

# IntelliJ
LibgdxRpg/out/

# mpeltonen/sbt-idea plugin
LibgdxRpg/.idea_modules/

# JIRA plugin
LibgdxRpg/atlassian-ide-plugin.xml

# Cursive Clojure plugin
LibgdxRpg/.idea/replstate.xml

LibgdxRpg/# Crashlytics plugin (for Android Studio and IntelliJ)
LibgdxRpg/com_crashlytics_export_strings.xml
LibgdxRpg/crashlytics.properties
LibgdxRpg/crashlytics-build.properties
LibgdxRpg/fabric.properties

# Compiled class file
LibgdxRpg/*.class

# Log file
LibgdxRpg/*.log

# BlueJ files
LibgdxRpg/*.ctxt

# Mobile Tools for Java (J2ME)
LibgdxRpg/.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

